{% extends 'basic.html' %}

{% block title%}Edit profile{% endblock %}

{% block profileActive %}active{% endblock %}

{% block body %}
<div class="container my-3 main">
    <h3 class="text-center">Edit Profile</h3>
    <hr>
    <div class="row">
        <div class="col-lg-3 mb-5">
            <div class="card h-100">
                <div class="card-body text-center">
                    <div class="text-center mb-4">
                        <h5>Preview:</h5><span class="badge bg-secondary">{{user}}</span>
                    </div>
                    <div class="mb-4">
                        <div class="avatar avatar-xl">
                            <img src="{{ user.userprofile.head_shot.url }}" alt="Profile image of {{user}}"
                                class="avatar-img rounded-circle" width="150">
                            <p class="mt-2" style="font-size: 12px;">(Note: No preview for profile image available.)</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="col-12">
                            <h4 class="mb-2"><span id="firstname">{{user.userprofile.firstname}}</span> <span id="lastname">{{user.userprofile.lastname}}</span></h4>
                            <h6 class="mb-2">Email: <span id="displayemail">{{user.email}}</span></h6>
                            <h6 class="mb-2">Phone Number: <span id="displayphone">{{user.userprofile.phone}}</span></h6>
                        </div>
                        <div class="col-12 my-3">
                            <h6>About me:</h6>
                            <p id="mybio" class="text-muted">{{user.userprofile.bio|truncatewords:50}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <form action="/profile/editprofile/" onSubmit="return confirm('Are you sure you wish to make these changes?');" method="POST" enctype="multipart/form-data" class="row g-3"> {% csrf_token %}
                        <div class="col-12">
                            <label for="username" class="form-label">Username: {{user}}</label>
                            <br class="d-block d-md-none">
                            <b style="font-size: 12px;">(You cannot change your username.)</b>
                        </div>
                        <div class="col-md-6">
                            <label for="fname" class="form-label">First Name:</label>
                            <input type="text" class="form-control" name="fname" id="fname"
                                placeholder="{{user.userprofile.firstname}}">
                        </div>
                        <div class="col-md-6">
                            <label for="lname" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" name="lname" id="lname"
                                placeholder="{{user.userprofile.lastname}}">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="{{user.email}}">
                        </div>
                        <div class="col-md-6">
                            <label for="phone" class="form-label">Phone Number:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" pattern="[0-9]{10}"
                                placeholder="{{user.userprofile.phone}}">
                        </div>
                        <div class="col-12">
                            <label for="image" class="form-label">Update Profile Image:</label>
                            <br>
                            <b style="font-size: 12px;">(Note: This image will be used for future verification/authentication, please
                                upload a recent passport sized image.)</b>
                            <input type="file" class="form-control" name="image" id="image" accept="image/*">
                        </div>
                        <div class="col-12">
                            <label for="bio" class="form-label">Bio:</label>
                            <textarea class="form-control" id="bio" name="bio" rows="3"></textarea>
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">Enter your password to update the changes:</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password"
                                required>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-outline-primary">Update</button>
                            <a class="btn btn-outline-danger my-2" href="/profile">Cancel</a>
                        </div>
                    </form>
                    <div class="col-12 my-2">
                        <p>Are you trying to change password? <a href="/resetpassword" style="text-decoration: none;">Click here.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // preview for first name
    const fname = document.getElementById('fname')
    fname.addEventListener('keyup', (e) => {
        firstname.innerHTML = ""
        if (e.target.value != "") {
            firstname.innerHTML += `${e.target.value}`
        }
        if (e.target.value == ""){
            firstname.innerHTML = `{{user.userprofile.firstname}}`
        }
    })
    // preview for last name
    const lname = document.getElementById('lname')
    lname.addEventListener('keyup', (e) => {
        lastname.innerHTML = ""
        if (e.target.value != "") {
            lastname.innerHTML += `${e.target.value}`
        }
        if (e.target.value == ""){
            lastname.innerHTML = `{{user.userprofile.lastname}}`
        }
    })
    // preview for email
    const email = document.getElementById('email')
    email.addEventListener('keyup', (e) => {
        displayemail.innerHTML = ""
        if (e.target.value != "") {
            displayemail.innerHTML += `${e.target.value}`
        }
        if (e.target.value == ""){
            displayemail.innerHTML = `{{user.email}}`
        }
    })
    // preview for phone
    const phone = document.getElementById('phone')
    phone.addEventListener('keyup', (e) => {
        displayphone.innerHTML = ""
        if (e.target.value != "") {
            displayphone.innerHTML += `${e.target.value}`
        }
        if (e.target.value == ""){
            displayphone.innerHTML = `{{user.userprofile.phone}}`
        }
    })
    // preview for bio
    const bio = document.getElementById('bio')
    bio.addEventListener('keyup', (e) => {
        mybio.innerHTML = ""
        if (e.target.value != "") {
            mybio.innerHTML += `${e.target.value}`
        }
        if (e.target.value == ""){
            mybio.innerHTML = `{{user.userprofile.bio}}`
        }
    })
</script>
{% endblock %}