{% extends 'basic.html' %}

{% block title %}Edit Private Polls{% endblock %}

{% block profileActive %}active{% endblock %}

{% block body %}
<div class="container my-3 main">
    <h3 class="text-center">Edit the Private Poll: {{privatepoll.title}}</h3>
    <hr>
    <div class="card h-100">
        <div class="card-body">
            <form action="/polls/privatepolldetails/{{privatepoll.id}}/editprivatepoll"
                onSubmit="return confirm('Hit the OK button whenever you are ready for facial authentication!');" method="POST" class="row g-3">
                {% csrf_token %}
                <div class="col-12">
                    <label for="title" class="form-label">Poll's title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="{{privatepoll.title}}">
                </div>
                <div class="col-12">
                    <label for="desc" class="form-label">Describtion of the poll:</label>
                    <textarea class="form-control" id="desc" name="desc" rows="4"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="choice1" class="form-label">Choice 1:</label>
                    <input type="text" class="form-control" id="choice1" name="choice1"
                        placeholder="{{privatepoll.choice1}}">
                </div>
                <div class="col-md-6">
                    <label for="choice2" class="form-label">Choice 2:</label>
                    <input type="text" class="form-control" id="choice2" name="choice2"
                        placeholder="{{privatepoll.choice2}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="endtime">Change when this poll should end?</label>
                    <br>
                    <b style="font-size: 12px;">(You have scheduled this poll to end by {{privatepoll.endtime|date:"d M, Y H:m:s"}})</b>
                    <br>
                    <input class="form-control" type="datetime-local" id="endtime" name="endtime">
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="genre">Change genre for this poll</label>
                    <br>
                    <b style="font-size: 12px;">(Genre selected for this poll is {{privatepoll.genre}})</b>
                    <br>
                    <select class="form-select" id="genre" name="genre">
                        <option selected>Choose...</option>
                        <option value="General">General</option>
                        <option value="Political">Political</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Opinion">Opinion</option>
                    </select>
                </div>
                <div class="col-12">
                    <b style="font-size: 12px;">(Note: To make changes in a private poll, we have to ensure that it's you. For this, you have to undergo facial authentication!)</b>
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Enter your account's password to update the changes:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password"
                        required>
                </div>
                <div class="col-12">
                    <input class="form-check-input" type="checkbox" value="" id="showpassword" name="showpassword">
                    <label class="form-check-label" for="showpassword">Show Password</label>
                </div>
                <div class="col-12">
                    <button type="submit" id="createbutton" class="btn btn-outline-primary">Update</button>
                    <a class="btn btn-outline-danger my-2" href="/polls/privatepolldetails/{{privatepoll.id}}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // show password
    var passwordcheckbox = document.querySelector("input[name=showpassword]");
    passwordcheckbox.addEventListener('change', function () {
        const password = document.getElementById('password')
        if (password.type === 'password') {
            password.type = 'text';
        } else {
            password.type = 'password';
        }
    });
</script>
{% endblock %}