{% extends 'basic.html' %}

{% block title %}Private Poll Invitations{% endblock %}

{% block profileActive %}active{% endblock %}

{% load polls_extras %}

{% block body %}
<div class="container my-3 main">
    <h3 class="text-center mt-3 mb-3">Your Private Invitations</h3>
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-2">
        <div class="container-fluid">
            <a class="btn btn-sm btn-primary" href="/polls/invitations" role="button"><i
                    class="fas fa-poll"></i>Refresh</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                <ul class="navbar-nav me-auto mb-lg-0 ">
                    <li class="nav-item dropend">
                        <a class="btn btn-sm btn-primary dropdown-toggle m-1" href="#" id="navbarDropdown2"
                            role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            Sort by:
                        </a>
                        <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown2">
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-{% if 'latest' in request.GET %}warning{% else %}outline-primary{% endif %} col-12"
                                    href="?latest=True" role="button"><i class="fas fa-sort-alpha-down"></i>Latest</a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-{% if 'oldest' in request.GET %}warning{% else %}outline-primary{% endif %} col-12"
                                    href="?oldest=True" role="button"><i class="far fa-clock"></i>Oldest First</a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-{% if 'noaction' in request.GET %}warning{% else %}outline-primary{% endif %} col-12"
                                    href="?noaction=True" role="button"><i class="far fa-clock"></i>No Action Taken</a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-{% if 'accepted' in request.GET %}warning{% else %}outline-primary{% endif %} col-12"
                                    href="?accepted=True" role="button"><i class="far fa-clock"></i>Accepted Invites</a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-{% if 'name' in request.GET %}warning{% else %}outline-primary{% endif %} col-12"
                                    href="?name=True" role="button"><i class="far fa-clock"></i>Name</a>
                            </li>
                            <li class="nav-item m-2">
                                <a class="btn btn-sm btn-outline-primary col-12" href="/polls/invitations"
                                    role="button"><i class="fas fa-poll"></i>None</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <p class="{% if 'latest' in request.GET %}d-block{% else %}d-none{% endif %} m-2">Sorted by:
                            Latest</p>
                        <p class="{% if 'oldest' in request.GET %}d-block{% else %}d-none{% endif %} m-2">Sorted by:
                            Oldest First</p>
                        <p class="{% if 'noaction' in request.GET %}d-block{% else %}d-none{% endif %} m-2">Sorted by:
                            No Action Taken</p>
                        <p class="{% if 'accepted' in request.GET %}d-block{% else %}d-none{% endif %} m-2">Sorted by:
                            Accepted Invites</p>
                        <p class="{% if 'name' in request.GET %}d-block{% else %}d-none{% endif %} m-2">Sorted by: Name
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if invitations.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{% my_url invitations.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link text-dark" href="#" tabindex="-1" aria-disabled="true">Page {{invitations.number}} of {{invitations.paginator.num_pages}}</a></li>
            {% if invitations.has_next %}
            <li class="page-item">
                <a class="page-link" href="{% my_url invitations.next_page_number 'page' request.GET.urlencode %}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div class="col-12">
        <ul class="list-group">
            {% for invites in invitations %}
            {% if invites.poll.isActive %}
            <li class="list-group-item col-12">
                <p style="text-decoration: none; font-size: 22px;">Title: {{invites.poll.title}}</p>
                <p>Created by <a href="/userprofile/{{invites.poll.owner}}"><span class="badge bg-secondary">
                            {{invites.poll.owner}}</span></a> on {{invites.poll.pub_date|date:"d M, Y H:m"}} and is ending on:
                    {{invites.poll.endtime|date:"d M, Y H:m"}}.
                </p>
                <p>Description: {{invites.poll.desc}}</p>
                {% if invites.is_accepted %}
                <p>This notification will be deleted automatically by: {{invites.expiry|date:"d M, Y H:m"}}.</p>
                <b>You've accepted this invite!</b>
                <br>
                <form action="/polls/invitations/" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <a class="btn btn-outline-primary my-2" href="/polls/invitations/acceptedinvites" role="button">View
                            accepted invitations</a>
                        <input type="hidden" id="poll_id" name="poll_id" value="{{invites.poll.id}}">
                        <button type="submit" name="deletenotif" id="deletenotif" class="btn btn-danger"
                            value="deletenotif">Delete notification</button>
                    </div>
                </form>
                {% else %}
                <p>The invitation will expire on: {{invites.expiry|date:"d M, Y H:m"}}.</p>
                <form action="/polls/invitations/{{invites.poll.id}}/invitechoice" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <button type="submit" name="invitechoice" id="accept" class="btn btn-outline-success"
                            value="accept">Accept</button>
                        <button type="submit" name="invitechoice" id="reject" class="btn btn-outline-danger"
                            value="reject">Reject</button>
                    </div>
                </form>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}