{% extends 'basic.html' %}

{% block title %}Invite people to vote{% endblock %}

{% block profileActive %}active{% endblock %}

{% block body %}
<div class="container my-3 main">
    <h3 class="text-center">Invite to Private Poll {{privatepoll.title|truncatechars:50}}</h3>
    <hr>
    <div class="col-12">
        <h6>About this poll:</h6>
        <p>This poll is created by You 
            <a href="/profile"><span class="badge bg-info">{{privatepoll.owner}}</span></a> 
            on {{privatepoll.pub_date|date:"d M, Y H:m"}}
            and is ending on {{privatepoll.endtime|date:"d M, Y H:m"}}</p>
        <h6>Description:</h6>
        <p>{{privatepoll.desc|truncatechars:200}}</p>
        <form onSubmit="return confirm('Are you sure you wish to delete this poll?');" action="/polls/privatepolldetails/{{privatepoll.id}}/deleteprivatepoll" method="POST" class="row g-3">
            {% csrf_token %}
            <div class="col-12">
                <button type="submit" name="delete" id="delete" class="btn btn-outline-danger" value="delete">Delete poll</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="col-12">
        <h5>The people invited to the poll are:</h5>
        <ul class="list-group">
            {% if privateinvites %}
            {% for p in privateinvites %}
            {% if p.isActive %}
            <li class="list-group-item d-flex justify-content-between align-items-start">{{p.userinvited}}
                <form onSubmit="return confirm('Are you sure you wish to revoke this invitation?');" action="/polls/privateinvite/{{privatepoll.id}}" method="POST" class="row g-3">
                    {% csrf_token %}
                    <div class="col-12">
                        <input type="hidden" id="userrevoked" name="userrevoked" value="{{p.userinvited}}">
                        <button type="submit" name="deleteinvite" id="deleteinvite" class="btn btn-sm btn-outline-danger" value="revoke">Revoke Invitation</button>
                    </div>
                </form>
            </li>
            {% elif p.is_accepted %}
            <li class="list-group-item d-flex justify-content-between align-items-start">{{p.userinvited}}
                <a class="btn btn-sm btn-success" href="#" role="button">Invitation Accepted</a>
            </li>
            {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-start">{{p.userinvited}}
                <a class="btn btn-sm btn-warning" href="#" role="button">Invitation Rejected/Revoked</a>
            </li>
            {% endif %}
            {% endfor %}
            {% else %}
            <p>No one is invited yet :(</p>
            {% endif %}
        </ul>
    </div>
    <hr>
    <div class="col-12">
        <label for="useradd" class="form-label">
            <h5>Invite users to vote for this private poll:</h5>
        </label>
        <input type="text" class="form-control" id="userinvite" name="userinvite" placeholder="Search usernames here...">
        <div class="col-12 my-2" id="usershow"><p>Users will be displayed here.</p></div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // processing usernames to be displayed
    const data = '{{usernames}}'
    const rdata = JSON.parse(data.replace(/&quot;/g, '"'))
    const input = document.getElementById('userinvite')
    let filteredArr = []
    input.addEventListener('keyup', (e) => {
        usershow.innerHTML = ""
        filteredArr = rdata.filter(user => user['username'].includes(e.target.value))
        if (filteredArr.length > 0) {
            filteredArr.map(user => {
                usershow.innerHTML += `<form action="/polls/privatepolldetails/{{privatepoll.id}}/userinvite/" method="POST" class="row g-3">{% csrf_token %}<li class="list-group-item d-flex justify-content-between align-items-start">${user['username']}<button type="submit" name="userinvited" class="btn btn-sm btn-primary" value="${user['username']}">Send Invitation</button></li></form>`
            })
        } else {
            usershow.innerHTML += `<p>No such user :(</p>`
            filteredArr = []
        }
        if (e.target.value == ""){
            usershow.innerHTML = `<p>Users will be displayed here.</p>`
        }
    })
</script>
{% endblock %}