{% extends 'basic.html' %}

{% block title %}Private Poll Results - {{privatepoll.title}}{% endblock %}

{% block profileActive %}active{% endblock %}

{% block body %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="container my-3 main">
    <h3 class="text-center">Private Poll Results: {{privatepoll.title}}</h3>
    <hr>
    <div class="col-12">
        <h6>About this poll:</h6>
        {% if request.user == privatepoll.owner %}
        <p>This poll was created by You 
            <a href="/profile"><span class="badge bg-info">{{privatepoll.owner}}</span></a> 
            on {{privatepoll.pub_date|date:"d M, Y H:m"}}
            and is ending on {{privatepoll.endtime|date:"d M, Y H:m"}}.</p>
        <h6>Description:</h6>
        <p>{{privatepoll.desc}}</p>
        <form onSubmit="return confirm('Are you sure you wish to delete this poll?');" action="/polls/privatepolldetails/{{privatepoll.id}}/deleteprivatepoll" method="POST" class="row g-3">
            {% csrf_token %}
            <div class="col-12">
                <a href="/polls/privateinvite/{{privatepoll.id}}" class="btn btn-outline-primary" role="button">Invite</a>
                <button type="submit" name="delete" id="delete" class="btn btn-outline-danger" value="delete">Delete poll</button>
            </div>
        </form>
        {% else %}
        <p>This poll was created by <a href="/userprofile/{{privatepoll.owner}}"><span
                    class="badge bg-secondary">{{privatepoll.owner}}</span></a> on {{privatepoll.pub_date|date:"d M, Y H:m"}} 
                    and is ending on {{privatepoll.endtime|date:"d M, Y H:m"}}.
        </p>
        <h6>Description:</h6>
        <p>{{privatepoll.desc}}</p>
        {% endif %}
    </div>
    <hr>
    <h6>Results:</h6>
    <ul class="list-group mb-2">
        <p>Total votes received: <b>{{ privatepoll.choice1_vote_count|add:privatepoll.choice2_vote_count|add:privatepoll.choice3_vote_count|add:privatepoll.choice4_vote_count }}</b></p>
        <li class="list-group-item d-flex justify-content-between align-items-start {% if privatevote.choice == privatepoll.choice1 %}list-group-item-info{% endif %}">
            1. {{privatepoll.choice1}}
            <span class="badge bg-primary rounded-pill mx-2">{{privatepoll.choice1_vote_count}} votes</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start {% if privatevote.choice == privatepoll.choice2 %}list-group-item-info{% endif %}">
            2. {{privatepoll.choice2}}
            <span class="badge bg-primary rounded-pill mx-2">{{privatepoll.choice2_vote_count}} votes</span>
        </li>
        {% if privatepoll.choice3 != "" %}
        <li class="list-group-item d-flex justify-content-between align-items-start {% if privatevote.choice == privatepoll.choice3 %}list-group-item-info{% endif %}">
            3. {{privatepoll.choice3}}
            <span class="badge bg-primary rounded-pill mx-2">{{privatepoll.choice3_vote_count}} votes</span>
        </li>
        {% endif %}
        {% if privatepoll.choice4 != "" %}
        <li class="list-group-item d-flex justify-content-between align-items-start {% if privatevote.choice == privatepoll.choice4 %}list-group-item-info{% endif %}">
            4. {{privatepoll.choice4}}
            <span class="badge bg-primary rounded-pill mx-2">{{privatepoll.choice4_vote_count}} votes</span>
        </li>
        {% endif %}
    </ul>
    <p>You have voted for <b>{{privatevote.choice|truncatechars:100}}</b></p>
    <div class="card h-100">
        <div class="card-body">
            <div id="myChart"></div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="card rounded-3 shadow-sm">
            <div class="card-body text-center">
                <ul class="list-unstyled">
                    <h6>The poll is ending in:</h6>
                    <li id="countdown-box">
                        <div class="spinner-border" role="status"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // making ajax call
    var pollId = '{{privatepoll.id}}'
    var dataURL = `/polls/api/privateresultdata/${pollId}`
    var state = {
        'values': []
    }
    $.ajax({
        method: 'GET',
        url: dataURL,
        success: function (response) {
            for (var i in response) {
                var value = Object.values(response[i])[0]
                state.values.push(value)
            }
            buildChart()
        }
    })
    // charts
    function buildChart() {
        var chartConfig = {
            type: "bar",
            plot: {
                // animation
                animation: {
                    effect: 'ANIMATION_EXPAND_BOTTOM',
                    method: 'ANIMATION_STRONG_EASE_OUT',
                    sequence: 'ANIMATION_BY_NODE',
                    speed: 1000
                }
            },
            scaleX: {
                label: {
                    text: 'Choices',
                    fontSize: 16,
                },
                labels: [
                    'Choice 1',
                    'Choice 2',
                    'Choice 3',
                    'Choice 4'
                ]
            },
            scaleY: {
                label: {
                    text: 'Votes',
                    fontSize: 16,
                }
            },
            "series": [
                {
                    "values": state.values
                }
            ]
        }

        zingchart.render({
            id: "myChart",
            data: chartConfig,
        })
    }

    const countdownbox = document.getElementById('countdown-box')
    const end = '{{privatepoll.endtime|date:"d M, Y H:m:s"}}'
    // obtaining the countdown time in milliseconds
    const endDate = Date.parse(end)
    const pollcountdown = setInterval(() => {
        // obtaining current time in milliseconds every second
        const now = new Date().getTime()
        // calculating the difference between expiration and current time every second
        const diff = endDate - now
        // converting the difference from milliseconds to days, hours, mins and secs
        const days = Math.floor((endDate / (1000 * 60 * 60 * 24)) - (now / (1000 * 60 * 60 * 24)))
        const hours = Math.floor(((endDate / (1000 * 60 * 60)) - (now / (1000 * 60 * 60))) % 24)
        const mins = Math.floor(((endDate / (1000 * 60)) - (now / (1000 * 60))) % 60)
        const secs = Math.floor(((endDate / (1000)) - (now / (1000))) % 60)
        if (diff > 0) {
            countdownbox.innerHTML = days + " days, " + hours + " hours, " + mins + " minutes, " + secs + " seconds."
        }
        else {
            clearInterval(pollcountdown)
            countdownbox.innerHTML = "The poll has ended!"
        }
    }, 1000)

</script>
{% endblock %}